#root{
  font-family: 'Vazir';
}

@font-face {
    font-family: "Vazir";
    src: local("Vazir"),
     url("./fonts/Vazir/Vazir.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSANSX-REGULAR";
    src: local("IRANSANSX-REGULAR"),
     url("./fonts/IranSans/IRANSANSX-REGULAR.TTF") format("truetype");
}


.mhstyle{
  height: 500px ;
}
.thstyle{
  height: 440px ;
}
.phstyle{
  height: 650px;
}

@media (max-width: 356px) {
  .under-356 {
    display: none;
  }
}


.lines {
	height: 200px;
}
@media (max-width: 767px) {
	.lines {
		height: 150px;
	}
  }

  

.wrapper
{
	padding-bottom: 25px;
}

.divider
{
	position: relative;
	margin-top: 5px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -4px;
	left: calc(50% - 7px);
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.dropdown-menu a:active{
	background-color: #5C636A;
}


/* .swiper {
  width: 600px;
  height: 300px;
} */